<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    p, h3, a {
        text-align: center;
    }
</style>
<div style="width: max-content; margin: 0 auto;">
    <table style="width: 450px;">
        <tr>
            <td style="text-align: center; padding: 10px 0;">
                <img width="300" src="https://app.oreidablaze.com.br/assets/logo.20c0267c.png"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h4>Faaaala jogador(a)</h4>

                <p>Seja muito bem vindo!</p>

                <p>Tá preparado pra mudar sua visão sobre o Double?</p>

                <p>Você ter acesso a diversas estratégias e ao Boot do Rei da Blaze!</p>

                <p>Abaixo segue o link para acessar o Boot junto com uma senha provisória..</p>

                <p>
                    <p>
                        Usuário: <strong>{{ email }}</strong>
                        <br>
                        Senha: <strong>{{ password }}</strong>
                    </p>
                    <a style="background-color: #ba0a0a; color: #fff; padding: 10px 30px; text-decoration: none; border-radius: 5px;" href="https://app.oreidablaze.com.br/">
                        Acesse aqui
                    </a>
                    <br>
                </p>
                <br>
                <p>As vídeos aulas ensinam a usar o bot da maneira certa e como obter sucesso..</p>

                <p>
                    Nos vemos no topo..<br />
                    Use com sabedoria tudo o que for passado por mim.
                </p>

                <p>Pra cima 👑</p>
            </td>
        </tr>
    </table>
</div>